@import './font-awesome.min.css';

$primary-color: #0100a2;

.background-image {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-size: cover;
	z-index: -1;
}
.navbar {
	background-color: $primary-color !important;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	&.navbar-dark {
		padding: 0;
	}
	.navbar-nav {
		flex-direction: row;
		.nav-link {
			color: rgba(255, 255, 255, 0.8);
		    padding-right: .5rem;
		    padding-left: .5rem;
			&.active {
				background-color: rgba(0,0,0,.3);
			}
		}
	}
}

.text-shadow {
	text-shadow: 1px 2px 5px #000;
}
.invalid-feedback {
	display: block;
}

.mobile-tooltip {
	position: relative;
	.message {
		background-color: #666;
		color: white;
		padding: 0 .3rem;
		position: absolute;
		transform: translate(-50%, -100%);
    	margin-left: -50%;
	    margin-top: -10px;
		z-index: 1000;
		border-radius: 4px;
		box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.5);
		&::after {
			content: " ";
			position: absolute;
			top: 100%; /* At the bottom of the tooltip */
			left: 50%;
			margin-left: -10px;
			border-width: 10px;
			border-style: solid;
			border-color: #666 transparent transparent transparent;
		}
	}
}

.add-dive {
	label {
		font-weight: 500;
		color: #fff;
		font-size: 1.25rem;
		@extend .text-shadow;
	}
	.form-group {
		margin-bottom: 1.5rem;
	}
	.diveNitroxMix::before {
		content: "%";
		color: #fff;
	    position: absolute;
	    right: 28px;
	    top: 8px;
	}
	.fa.fa-plus {
		transition: all .5s;
		&.collapse-open {
			transform: rotate(225deg);
		}
	}
	.collapsing {
		transition-duration: .5s;
	}
	.sigCanvas {
		width: 100%;
		max-width: 600px;
		background: rgba(255, 255, 255, 0.7);
		border-radius: 5px;
	}
	.signature-image {
		padding: 20px;
		img {
			width: 100%;
			filter: invert(1);
		}
	}
	.equipment-container {
		.row {
			min-height: 44px;
		}
	}
	.btn-save-success {
		position: fixed;
    	right: 1rem;
    	z-index: 1;
    	box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.5);
	}
}

.dive-list {
	// background-color: #71c4e8;
	.list-group-item {
	    padding: 0.75rem .9rem;
		a {
			color: inherit;
		}
		.dive-date {
			// font-size: .75rem;
			color: #777777;
		}
		&:first-child {
		    border-top-left-radius: 0rem;
		    border-top-right-radius: 0rem;
		}
	}

	.dive-no {
		font-weight: 500;
	}
	.btn-secondary {
        background-color: #0033cd;
    	border-color: #032fb3;
	}
	.show > .btn-secondary.dropdown-toggle {
	    background-color: lighten(#0033cd, 10%);
	    border-color: lighten(#032fb3, 10%);
	}
}

.dive-details {
	background-color: #fbf9f1;
	color: #797979;
	label {
		font-weight: 500;
		color: #444;
		margin-bottom: 0;
	}
	.btn-edit {
		position: absolute;
	    right: 10px;
	    top: 5px;
	}
	.diagram-box {
		position: relative;
	    display: inline-block;
		border: 1px solid #444;
	    padding: 10px 3px 0;
	    min-width: 50px;
	    min-height: 40px;
	    margin-bottom: 10px;
	    text-transform: uppercase;
		label {
			position: absolute;
			top:-8px;
			left: 5px;
			padding: 0 3px;
			font-size: .7rem;
			color: #444;
			background-color: #fbf9f1;
		}
		i.fa {
		    position: absolute;
		    top: 0px;
		    right: -3px;
		    font-size: x-small;
		}
	}
	.dive-profile {
		max-width: 500px;
		margin: 0 auto;
	}
	.tbt {
		border: 1px solid #797979;
		padding: 0 5px;
		max-width: 80px;
		div:last-child {
			border-top: 1px solid #444;
		}
	}
	.diagram {
		.row .col-4 {
			height: 100px;
			-webkit-transform: skew(-10deg,0deg);
  			transform: skew(-10deg,0deg);
		}
		.first {
			border-top:2px solid #444;
			margin-left: -9px;
		}
		.second {
			border-left: 2px solid #444;
			border-right: 2px solid #444;
			border-bottom: 2px solid #444;
		}
		.third {
			border-top: 2px solid #444;
		}
		.max-depth {
			position:absolute;
			bottom:0;
			right: 10px;
			text-align: center;
			label {
				border-top: 1px solid #444;
				font-size: .9rem;
			}
		}
		.bottom-time {
			position: absolute;
		    bottom: 0;
		    width: 100%;
		    padding-right: 26px;
			div {
				text-align: center;
			}
			label {
				border-top: 1px solid #444;
				font-size: .9rem;
			}
		}
		.safety-stop {
			text-align: center;
			float: left;
			label {
				border-top: 1px solid #444;
				font-size: .9rem;
			}
		}
	}
	.block {
		border: 2px solid #444;
		margin: 1rem 0 2rem 0;
		padding: .25rem;
		position: relative;
		border-radius: 5px
	}
	.before-block {
	    top: -0.8rem;
	    left: 0.5rem;
	    position: absolute;
	    background-color: #fbf9f1;
	    color: #444;
	    font-size: 0.9rem;
	    padding: 0 5px;
	}
	.fa {
		margin-right: 5px;
	}
	.signature {
		padding: 20px 20px 5px 20px;
		border-bottom: 1px solid #444;
		min-height: 70px;
		img {
			width: 100%;
		}
	}
}

#search {
	position: relative;
	input {
	    position: absolute;
	    right: -9px;
	    top: 5px;
	    transition: all .5s;
	    width: 0;
	    opacity: 0;
	    color: #fff;
	    z-index: 1;
	    &:focus {
	    	width: 207px;
	    	opacity: 1;
	    	pointer-events: auto;
	    }
	    &::placeholder {
	    	color: #ccc;
	    }
	}
	.fa-search {
	    pointer-events: none;
		position: relative;
		z-index: 2;
		font-size: 1.3rem;
	}	
}	

.form-control.bubble, 
.collapse .bubble, 
.collapsing .bubble,
.signature-image.bubble {
    -webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2), inset 0px 5px 30px 2px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2), inset 0px 5px 30px 2px rgba(255, 255, 255, 1);
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2), inset 0px 5px 30px 2px rgba(255, 255, 255, 1);
	
	background-color: rgba(255,255,255,0);
	border: 1px solid rgba(255, 255, 255, .5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

    color: #fff;

    &::placeholder {
    	color: #c5c5c5;
    }
    &.form-control-mils {
    	display: inline-block;
    	width: 80px;

    }
}

.custom-control {
    min-height: 2rem;
    padding-left: 2rem;
    &.custom-radio {
    	padding-left: 2.5rem;
    	line-height: 1.8;
    }
}

.custom-control-inline {
	margin-right: 5px;
    vertical-align: text-bottom;
}

.custom-control-label::before {
    width: 2rem;
    height: 2rem;
    left: -2rem;
}

.custom-checkbox, .custom-radio {
	.custom-control-input ~ .custom-control-label::before {
	    -webkit-border-radius: 30%;
		-moz-border-radius: 30%;
		border-radius: 30%;
		
		-webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2), inset 0px 5px 30px 2px rgba(255, 255, 255, 1);
		-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2), inset 0px 5px 30px 2px rgba(255, 255, 255, 1);
		box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2), inset 0px 5px 30px 2px rgba(255, 255, 255, 1);

		// -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), inset 0px 3px 11px 0px rgba(255, 255, 255, 1);
		// box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), inset 0px 3px 11px 0px rgba(255, 255, 255, 1);
	 //    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), inset 0px 3px 11px 0px rgba(255, 255, 255, 1);
		
		background-color: rgba(255,255,255,0);
		border: 1px solid rgba(255, 255, 255, .5);
	    -webkit-background-clip: padding-box; /* for Safari */
	    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	}

	.custom-control-input:checked ~ .custom-control-label::before {
	    background-color: transparent;
	}
	.custom-control-input:checked ~ .custom-control-label::after {
	    // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='4' fill='%2300f'/%3E%3C/svg%3E");
		left: -2rem;
		width: 2rem;
	    height: 2rem;
	}
}
.custom-radio {
	.custom-control-input ~ .custom-control-label::before {
	    -webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%
	}
	.custom-control-input:checked ~ .custom-control-label::after {
	    // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='4' fill='%2300f'/%3E%3C/svg%3E");
		left: -2.5rem;
	}
	.custom-control-label::before {
	    left: -2.5rem;
	}
}

.save-dive-button.bubble {
	border-radius: 50%;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
    height: 100px;
	width: 100px;
	color: #000;
    border-color: #fff;
    font-size: 2rem;
    font-weight: 700;
    background-color: transparent;
    span {
    	color: #a6ceff;
    }
}
.save-dive-button.bubble:after {
    background: -moz-radial-gradient(center, ellipse farthest-corner,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse farthest-corner,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse farthest-corner,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse farthest-corner,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	border-radius: 50%;
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	content: "";
    height: 100px;
	left: 10px;
	width: 100px;
	background-color: rgba(237, 241, 245, 0.39);
}

.timepicker {
	color: #fff;
	position: relative;
	.position-absolute {
	    margin-top: -2rem;
        margin-left: 8px;
		input {
			border: none;
			width: 30px;
			background: none;
			color: #fff;
			&:first-child {
				text-align: right;
				width: 25px;
				padding-right: 3px
			}
		}
		input:nth-of-type(2) {
			padding-left: 3px;
			width: 25px;
		}
	}

}

/* Home page bubble animation */
/* KEYFRAMES */

@keyframes animateBubble {
    0% {
        top: 90vh;
    }
    100% {
        top: -30px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	left: -100px;
	animation-delay: 2s;
	top: 90vh;
	transform: scale(0.15);
}

.x2 {
	animation: animateBubble 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
	left: calc(85% - 100px);
	animation-delay: 15s;
	top: 90vh;
	transform: scale(0.1);
}

.x3 {
	animation: animateBubble 23s linear infinite, sideWays 2s ease-in-out infinite alternate;
	left: calc(25% - 100px);
	animation-delay: 8s;
	top: 90vh;
	transform: scale(0.2);
}

.x4 {
	animation: animateBubble 17s linear infinite, sideWays 3s ease-in-out infinite alternate;	
	left: calc(66% - 100px);
	animation-delay: 0s;
	top: 90vh;
	transform: scale(0.3);
}

.x5 {
	animation: animateBubble 25s linear infinite, sideWays 4s ease-in-out infinite alternate;
	left: calc(50% - 100px);
	animation-delay: 5s;
	top: 90vh;
	transform: scale(0.25);
}

/* OBJECTS */
#background-wrap {
    bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
	.bubble {
		border-radius: 50%;
		box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	    height: 200px;
		position: absolute;
		width: 200px;
	}

	.bubble:after {
	    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
	    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
	    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
	    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
	    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

		border-radius: 50%;
		box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
		content: "";
	    height: 180px;
		left: 10px;
		position: absolute;
		width: 180px;
	}
}
